<div class="form-group">
	<label class="control-label">Solution Subject</label>
	<%= f.text_field :name, class: "form-control" %>
	<% if solution.errors[:name].present? %>
    	<div class="error-message"><%=  solution.errors[:name][0]%></div>
   	<% end %>
</div>
<div class="form-group">
	<label class="control-label">Owner</label>
	<%= f.collection_select :owner, User.all, :id, :email, {prompt: true}, class: "form-control" %>
	<% if solution.errors[:owner].present? %>
    	<div class="error-message"><%=  solution.errors[:owner][0]%></div>
   	<% end %>
</div>
<div class="form-group">
	<label class="control-label">Product</label>
	<%= f.collection_select :product_id, current_company.products.all, :id, :name, {prompt: true}, class: "form-control" %>
	<% if solution.errors[:product_id].present? %>
    	<div class="error-message"><%=  solution.errors[:product_id][0]%></div>
   	<% end %>
</div>
<div class="form-group">
	<label class="control-label">Question</label>
	<%= f.text_area :question, class: "form-control" %>
	<% if solution.errors[:question].present? %>
    	<div class="error-message"><%=  solution.errors[:question][0]%></div>
   	<% end %>
</div>
<div class="form-group">
	<label class="control-label">Answer</label>
	<%= f.text_area :answer, class: "form-control" %>
	<% if solution.errors[:answer].present? %>
    	<div class="error-message"><%=  solution.errors[:answer][0]%></div>
   	<% end %>
</div>
<div class="form-group">
	<label class="control-label">Solution Status</label>
	<%= f.collection_select :solution_status_id, SolutionStatus.all, :id, :name, {prompt: true}, class: "form-control" %>
	<% if solution.errors[:solution_status_id].present? %>
    	<div class="error-message"><%=  solution.errors[:solution_status_id][0]%></div>
   	<% end %>
</div>
<div class="form-group">
	<%= f.submit "Save", class: "btn btn-warning" %>
	<%= link_to "Back", solutions_path , class: "btn btn-primary" %>
</div>
